* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
.main-info {
  margin: 5vh 15vw;
  /*position: relative;*/
  text-align: justify;
}
.main-info h2 {
  font-size: 20px;
  font-weight:normal;
  font-family: sans-serif;
  line-height: 1.5;
}
.main-info h2 span {
  float:right;
  font-weight: bold;
}
#welcome-text {
  float:right;
  font-weight:bold;
  font-size: 20px;
}
.main-info h2 a {
  text-decoration: none;
}
.site-links {
  margin: 5vh 12vw;
  padding: 15vh 0 0 0;
}
.site-link-img {
  height: 150px;
  width: 140px;
  float: left;
  margin: 2vh 4vw;
}
.site-link-img img {
  height: 100%;
  width: 100%;
}

.footer {
  height: 10vh;
  width: 65vw;
  margin: 0 auto;
  margin-top: 15vh;
  border: 0px solid gray;
  border-top-width: 1px;
  border-color: gray;
  text-align: center;
  clear: both;
  font-family:sans-serif;
  font-size: 12px;
}
.footer p {
  line-height: 1.5;
}
.footer a {
  display: inline;
  text-decoration: none;
  margin: 0 2vw;
}
